.transBox{
    backface-visibility: visible
}

.container {
    width:820px; 
    height:550px;   
    background-image: url(../img/profile.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.box{
    padding: auto;
    width:1200px; 
    height:550px; 
}
.row{
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
    height: 38px;;
}
